# Super user
ADMIN_USER=someone
ADMIN_EMAIL=some@nobody.com
ADMIN_PASS=my_pass

# JWT
SECRET_KEY=this_is_my_secret
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 15

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=devdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=nimda
DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
ASYNC_DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Settings
API_VERSION=v1
PROJECT_MODE=debug
PROJECT_TITLE= Movie API with FastApi
PROJECT_VERSION=0.0.1
PROJECT_DESC=Project with FastAPI, in which I explore and learn about this powerful tool for building modern, high-performance APIs.
PROJECT_DEBUG_MODE=True
